<header class="header">
  <nav class="navbar">
    <div class="container">
      <span class="website-name">Odyssey Organizer - (Total Requests: {{ totalRequests }})</span>
      <ul class="nav ml-auto">
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" routerLink="/weather">Weather</a>
        </li>
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" routerLink="/currency">Currency</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
