<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Odyssey Organizer</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <br>

    <div class="container">
        <main>
            <h1 class="page-title">Welcome to Odyssey Organizer!</h1>
        </main>
        </div>

  <div class="container">
    <main>
      <h2>About Our Project</h2>
      <p>
        
Expanding on the purpose of our project, we aimed to develop a comprehensive website that serves as a user-friendly platform for individuals to plan and organize their travel experiences. 
Recognizing the complexities and challenges associated with trip planning, we endeavored to create a solution that simplifies the process and enhances the overall travel journey for users.

Our website facilitates seamless trip planning by offering a range of intuitive features and functionalities. 
Through careful design and implementation, we sought to address common pain points encountered by travelers, such as converting currency and scouting weather. 

Overall, our project aims to help individuals plan and organize their trips, offering a comprehensive and user-centric solution that streamlines the entire travel planning process and ensures memorable and fulfilling travel experiences for users.
      </p>
    </main>
    </div>

  <div class="container">
    <main>
      <h2>Features</h2>
        <h3><a href="/currency">Currency Conversion</a></h3>
        <p>This page helps users convert their currency.It aims to offer users a seamless and efficient tool
          for converting currencies. Recognizing the importance of currency conversion in international travel 
        and financial transactions, our platfom seeks to simplify this process and provide users with
      exchange rate infomation.  </p>
        <h3><a href="/weather">Weather Lookup</a></h3>
        <p>This page offers users a convenient way to check current weather conditions in different locations. 
          Users can information like temperature, humidity, and the overall weather conditions (sunny, rainy, overcast, ect.).
        </p>
    </main>
  </div>

  <div class="container">
    <main>
      <h2>About Us</h2>
        <p>This project was made by Bryson Bourisaw, Zachary Grady, and Clayton Wiemann. 
          This was our final project for our Web Development 2 class at the University of Missouri. 
        </p>
    </main>
  </div>
</body>
</html>
